# Created by .ignore support plugin (hsz.mobi)
### Composer template
composer.phar
/vendor/

# IntelliJ project files
.idea
*.iml
out
gen



# netbeans project files
nbproject

# zend studio for eclipse project files
.buildpath
.project
.settings

# windows thumbnail cache
Thumbs.db

# composer vendor dir
/vendor

# Mac DS_Store Files
.DS_Store

# phpunit itself is not needed
#phpunit.phar
# local phpunit config
/phpunit.xml

tests/_output/*
tests/_support/_generated

#vagrant folder
/.vagrant


runtime/*
!/runtime/.gitkeep

web/assets/*
!web/assets/.gitkeep

/web/MadelineProto.log

/assets/*
/MadelineProto.log

.phpunit.result.cache
/.phpunit.result.cache


/web/images/user/avatar/*
!/web/images/user/avatar/.gitkeep

/database/*
!/database/.gitkeep

/web/uploads/*
!/web/uploads/.gitkeep

composer.lock
