# Created by .ignore support plugin (hsz.mobi)
### Composer template
composer.phar
/vendor/

# IntelliJ project files
.idea
*.iml
out
gen



# netbeans project files
nbproject

# zend studio for eclipse project files
.buildpath
.project
.settings

# windows thumbnail cache
Thumbs.db

# composer vendor dir
/vendor

# Mac DS_Store Files
.DS_Store

# phpunit itself is not needed
phpunit.phar
# local phpunit config
/phpunit.xml

tests/_output/*
tests/_support/_generated

#vagrant folder
/.vagrant
runtime
web/assets
/web/MadelineProto.log
/assets/*
/MadelineProto.log
/database/
