body, h2, h3, ul{
    padding: 0px;
    margin: 0px;
    line-height: inherit;
    font-family: 'Roboto', sans-serif;
}

@font-face {
    font-family: Pacifico;
    src: url(../fonts/Pacifico-Regular.ttf);
}

:root {
    --light-grey: #ccc;
    --blue-grey: #8E95A4;
    --darkus: #272A31;
    --border-grey: #E5E5E5;
    --main-blue: #4884fc;
    --text-grey: #67696E;
}

header {
    display: block;
    width: 100%;
    height: 57px;
    background: #fff;
    border-bottom: 1px solid;
    border-color: var(--light-grey);
}

.profileHeader {
    z-index: 100;
    background: none;
    border: none;
    position: absolute;
}

.headerContainer {
    display: flex;
    line-height: 57px;
}

.headerContainer-black {
    filter: contrast(1%) brightness(50%);
}

.headerContainer-profile {
    justify-content: space-between;
}

.headerContainer-profile h2 {
    font-weight: normal;
    color: #fff;
    font-size: 40px;
    font-family: Pacifico;
}

.backButton {
    width: 48px;
    height: 58px;
    display: flex;
    justify-content: center;
}

.backButton img {
    width: 21px;
    margin: auto;
}

.backButton-style {

}

section {

}

.mainContainer {
    padding: 16px 16px 0px;
}

.profileUserPhoto {
    width: 100%;
    height: 50vh;
}

.black {
    color: black!important;
}

.cc_header_bg {
    width: 100%;
    height: 100px;
    background: var(--main-blue);
}

.userAvatarMIn {
    width: 88px;
    height: 88px;
    background: url(../images/paradam/avatar.png);
    border-radius: 14px;
    background-size: cover;
}

.pup_fader {
    width: 100%;
    height: 122px;
    position: absolute;
    background: transparent linear-gradient(0deg, #00000000 0%, #0000009C 100%) 0% 0% no-repeat padding-box;
}

.profileUserPhoto img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.profileUserContainer {
    margin: 16px;
    top: -45px;
    position: relative;
}

.profileUserInfo {
    position: absolute;
    border-radius: 14px;
    background: #fff;
    padding: 16px;
    box-shadow: 0px 3px 6px rgba(0,0,0,0.16);
}

.pui_right {
    margin-left: 15px;
}

.pui_top {
    display: flex;
}

.userInformation {
    margin-left: 8px;
}

.userName {
    font-weight: 900;
    font-size: 18px;
    line-height: 22px;
}

.userNickName {
    color: var(--darkus);
    font-size: 18px;
    font-weight: 700;
}

.userNickName_container span{
    color: var(--light-grey);
    font-size: 14px;
    margin-top: 15px;
}

.userBookMarks {
    color: var(--light-grey);
    font-size: 14px;
    margin-top: 15px;
}

.ubm_counter {
    color: var(--darkus);
    font-size: 18px;
    font-weight: 700;
}

.addToFavorite {
    margin-left: auto;
    display: flex;
    justify-content: center;
    width: 40px;
    height: 40px;
    border: 1px solid;
    border-radius: 7px;
    border-color: var(--border-grey);
}

.userProfileDescription {

}

.upd_text {
    margin-top: 16px;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

.upd_link a {
    font-size: 14px;
    font-weight: 500;
    display: block;
    text-decoration: none;
    color: var(--main-blue);
    margin: 11px 0px 16px;
}

.upd_button {
}

.upd_lang li {
    font-size: 14px;
    list-style: none;
    display: inline-block;
    padding-left: 20px;
}
.upd_lang {

}

.cc_active .is-selected > .headerContainer-profile h2 {
    color: black!important;
}


.cc_img_blur {
    position: absolute;
    z-index: -1;
    top: 0;
    left: -20;
    width: 104%;
    height: 104%;
    background: url(../images/paradam/avatar.png);
    background-size: cover;
    filter: blur(8px);
    -webkit-filter: blur(8px);
}

.updl_eng {
    background: url(../images/paradam/uk.svg);
    background-repeat: no-repeat;
}

.updl_ru {
    background: url(../images/paradam/russia.svg);
    background-repeat: no-repeat;
}

.upd_button input[type="button"] {
    outline: none;
    border: none;
    font-size: 16px;
    width: 100%;
    height: 64px;
    font-weight: 600;
    background: transparent linear-gradient(180deg, #4884FC 0%, #485AFC 100%) 0% 0% no-repeat padding-box;
    color: #fff;
}

.us_title {
    text-align: center;
    color: var(--darkus);
    font-size: 18px;
    margin: 0px 0px 15px;
    font-weight: 600;
}

.usic_item {
    padding: 16px;
    border: 1px solid;
    border-radius: 7px;
    border-color: var(--border-grey);
    margin-top: 6px;
}

.usici_top {
    display: flex;
    justify-content: space-between;
}

.usici_top {
    font-size: 16px;
    font-weight: 600;
}

.usicit_name {
    color: var(--darkus);
}

.usicit_price {
    color: var(--main-blue);
}

.usici_mid {
    display: flex;
}

.usicim_description {
    margin-top: 13px;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: var(--text-grey);
}

.usicim_favorite {
    margin-top: auto;
}

.navigationBar {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 51px;
    background: #fff;
    border-top: 1px solid;
    border-color: var(--light-grey);
}

.navigationBar ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.navigationBar a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 51px;
    width: 92px;
}

.carousell_cell {
    width: 100%;
    height: 50vh;
}